.fixed {
  position: fixed;
}
.pad-left {
  padding-left: 20px;
}
.pad-left2{
  padding-left: 180px;
}
.pad-right {
  padding-right: 180px;
}
#cards {
  /* Prevent vertical gaps */
  line-height: 0;
  padding-left: 5px;

  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;
  font-size: 14px;
}

#cards img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 10px;
}

.suite {
  padding-left: 464px;
}

@media (max-width: 1200px) {
  #cards {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1000px) {
  #cards {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #cards {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #cards {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}