body {
  font-family: $classic-font;
  font-weight: 200;
  background-color: white;
}

h1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 300;
  font-size: 30px;
}

.center-wos {
  text-align: center;
}

.btn-primary {
color: black;
background-color: white;
border-color: black;
}

a {
color: black;
text-decoration: none;
}

a:hover, a:focus {
color: white;
background-color: black;
// text-decoration: none;
}

.btn-primary:hover > a {
  color: white;
  border-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
color: white;
background-color: rgba(0, 0, 0, 1);
border-color: black;
outline-color: black;
}

.alert-info {
  background-color: black;
  border-color: black;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.alert-warning {
  background-color: black;
  border-color: black;
  color: white;
  text-align: center;
  margin-top: 10px;
}

@media(min-width:768px) {
  .full-src {
    padding-right: 185px;
  }
}