<div class="container">
  <div class="row">
    <div class="col-xs-6 img-tweet">
      <% @artworks.each do |artwork| %>
         <%= image_tag artwork.picture_url %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <% form_for @artworks do |a| %>
        <%= a.input :description %>
        <%= a.button :submit %>
      <% end %>
    </div>
  </div>
</div>
