<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <%= link_to "Voir l'admin", admin_root_path, class: "btn btn-default" %>
        <% end %>
      <% else %>
        <%# link_to "Connect with Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>


<%= render 'dialogs/stream' %>




