/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: white;
$navbar-hover-color: white;
$navbar-font-family: $navbar-font;
$navbar-font-size: 14px;
$navbar-text-transform: capitalize;
$navbar-font-weight: 100;
$navbar-letter-spacing: 1.3px;
$navbar-font-family: $navbar-font;
$navbar-bg: black;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 30px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 10px;
$navbar-border-bottom-width: 1px;
$navbar-border-bottom-color: white;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 10px;
$navbar-btn-bg: white;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
* Navbar profile picture
* ------------------------------------- */
$navbar-profile-radius: 0;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 0.5px;

// penser à modifier la coleur du hover qui bug et supprimer qq elements dans
 // .navbar-nav > li > a, aussi pour diminuer la taille de la navbar

.navbar-neg {
  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-size: $navbar-font-size;
  text-transform: $navbar-text-transform;
  font-weight: $navbar-font-weight;
  letter-spacing: $navbar-letter-spacing;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
  min-height: 0;
  transition: background 0.4s ease;


  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    color: $navbar-color;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: black;
    background-color: white;
  }

}

.navbar-nav > li {
  color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
}

.navbar-nav > li > .dropdown-menu{
  border-radius: 0;
  margin-top: 10px;
}
.navbar-nav > li > .dropdown-menu:before{
  position: absolute;
  background: white;
  height: 10px;
  width: 10px;
  content: "\00a0";
  display: block;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  transform: rotate(45deg);
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  z-index: -1;
}

.img-avatar{
  border: $navbar-profile-border-width solid $navbar-profile-border-color;
  box-shadow: 0 0 1px rgb(200, 200, 200);
  height: 35px;
  margin-right: 10px;
  margin-top: -4px;
  border-radius: $navbar-profile-radius;

}

#searchbar {
  margin-top: 10px;
  margin-right: 30px;
  padding-left: 100px;
  vertical-align: left;
  border: none;
  height: 35px;
}

#login_button {
  height: 20px;
  margin-right: 10px;
}
