/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: white;
$navbar-hover-color: rgba(255,255,255,1);
$navbar-font-family: $navbar-font;
$navbar-font-size: 14px;
$navbar-text-transform: capitalize;
$navbar-font-weight: 100;
$navbar-letter-spacing: 1.3px;
$navbar-font-family: $navbar-font;
$navbar-bg: black;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 30px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 10px;
$navbar-border-bottom-width: 1px;
$navbar-border-bottom-color: white;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: white;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

// penser à modifier la coleur du hover qui bug et supprimer qq elements dans
 // .navbar-nav > li > a, aussi pour diminuer la taille de la navbar

.navbar-neg {
  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-size: $navbar-font-size;
  text-transform: $navbar-text-transform;
  font-weight: $navbar-font-weight;
  letter-spacing: $navbar-letter-spacing;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
  min-height: 0;
  transition: background 0.4s ease;


  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    color: $navbar-color;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: black;
    background-color: $navbar-hover-color;
  }

}

.navbar-nav > li {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
