/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padding1 {
  padding: 3px;
}
.padding-bot {
  padding-bottom: 2px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.padding-top {
  padding-top: 10px;
}
.padding-top-home {
  padding-top: 100px;
}
.padding-right {
  padding-right: 5px;
}
.padding-left {
  padding-left: 10px;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.border-bot {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#img-tweetos{
  float: left;
  margin-right: 10px;
  width: 30px;
}

.stream-item {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #EAEAEA;

  &-container {
    height: 100%;
  }
}

.stream-item-lt {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.img-tweet {
  width: 60%;
  text-align: center;

}

.img-origin-tweet {
  width: 30%;
}
.img-tweet-box {
  position: relative;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 7px;
  overflow: hidden;
}
.img-tweet-box > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  opacity: 0;
}
.img-tweet-box:hover .overlay {
  opacity: 0;
}
.img-tweet-box .button {
  font-size: 20px;
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  right: 220px;
  width: 7%;
  padding: 10px 0;
  background: black;
  text-align: center;
  color: #FFF;
  font-family: sans-serif;
  text-decoration: none;
  display: none;
}
.img-tweet-box > .overimg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  opacity: 0;
}
.img-tweet-box:hover .overlay {
  opacity: 0;
}
.img-tweet-box .button- {
  font-size: 20px;
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 25px;
  height: 20px;
  padding: 10px 0;
  background: black;
  text-align: center;
  color: #FFF;
  font-family: sans-serif;
  text-decoration: none;
  display: none;
}
#origin_tweet_box {
  padding-top: 30px;
  margin-bottom: 20px;

}

#origin_tweet_profil {
  padding-top: 10px;
  margin-left: -12px;
  // margin-top: -5px;
  font-size: 12px;

}

#origin_tweet_text {
  padding-bottom: -10px;
}


.stream-item-container {
  padding-top: 50px;
}


.row.borders{
    display: inline-flex;
    width: 100%;
}