/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padding-bot {
  padding-bottom: 2px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding-top {
  padding-top: 10px;
}
.padding-right {
  padding-right: 5px;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.border-bot {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.stream-item {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.stream-item-lt {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.img-tweet {
  width: 100%;

}
.img-tweet-box {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 7px;
  overflow: hidden;
}
.img-tweet-box > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  opacity: 0;
}
.img-tweet-box:hover .overlay {
  opacity: 0;
}
.img-tweet-box .button {
  font-size: 30px;
  z-index: 1000;
  position: absolute;
  bottom: 7px;
  width: 10%;
  padding: 10px 0;
  background: black;
  text-align: center;
  color: #FFF;
  font-family: sans-serif;
  text-decoration: none;
  display: none;
}

#origin_tweet_box {
  background-color: #F8F8F8;

}

#origin_tweet_text {
  padding-bottom: -10px;
}