
<div class="padding-top"></div>
<p class="padding-bottom padding-left">
  Collection:
</p>
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10">
      <div class="fixed">
        <p class="padding-bottom">
          <u>Artists:</u>
        </p>
        <% @dialogs.each do |t| %>
          <p>
            <%= t.text.match(/(?<=: )(.*?),/) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="pad-right">
    <section id="cards">
      <% @dialogs.each do |d| %>
       <!--  <img src="<%#= d.img_url %>" class="img img-tweet">  -->
        <div class="img-tweet-box">
          <div class="overimg"></div>
          <%= link_to "-", dialog_remove_path(:dialog_id => d.id), method: :put, class: "button-" %>
          <img src="<%= d.img_url %>" class="img img-tweet">
        </div>
        <p class="pad-left">
          <%= d.text.match(/(?<=: )(.*?),/) %>
        </p>
      <% end %>
    </section>
  </div>
</div>

