
<div class="padding-top"></div>
<p class="padding-bottom padding-left">
  Collection:
</p>
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10">
      <div class="fixed">
        <p class="padding-bottom padding-top">
          <u>Artists:</u>
        </p>
        <% @dialogs.each do |d| %>
          <p>
            <%= link_to d.artwork.artist.name, artist_path(d.artwork.artist_id) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="pad-right">
    <section id="cards">
      <% @dialogs.each do |d| %>
        <img src="<%= d.img_url %>" class="img img-tweet"> 
          <p class="pad-left">
            <%= link_to d.artwork.artist.name, artist_path(d.artwork.artist_id) %>
          </p>
      <% end %>
    </section>
  </div>
</div>
