<div id="dialogs">
  <div class="scroll-top">Back to top</div>
  <% cache("dialog") do  %>
    <%= render "dialog" %>
  <% end %>
</div>

<% unless @dialogs.empty? %>
  <%# will_paginate @dialogs %>
<% end %>